{
   "rabbit_version":"3.6.1",
   "users":[
      {
         "name":"kiip",
         "password_hash":"B1D9cjM1bo96PKoitA6wRAlme/Lp5tMoT1jPXjqT5k61ULzD",
         "hashing_algorithm":"rabbit_password_hashing_sha256",
         "tags":"administrator"
      },
      {
         "name":"guest",
         "password_hash":"KvKPI8gEaBS3OdkBshRxvIoALochn/4VAT8F4oZoAw2ZldG5",
         "hashing_algorithm":"rabbit_password_hashing_sha256",
         "tags":"administrator"
      }
   ],
   "vhosts":[
      {
         "name":"/"
      },
      {
         "name":"kiip"
      }
   ],
   "permissions":[
      {
         "user":"guest",
         "vhost":"/",
         "configure":".*",
         "write":".*",
         "read":".*"
      },
      {
         "user":"kiip",
         "vhost":"kiip",
         "configure":".*",
         "write":".*",
         "read":".*"
      }
   ],
   "parameters":[

   ],
   "policies":[

   ],
   "queues":[

   ],
   "exchanges":[

   ],
   "bindings":[

   ]
}